<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TheBankStatement-pr10/src/ssaproject10Abstractjunit/Mainline.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ssaproject10Abstractjunit.Mainline"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TheBankStatement-pr10"/>
</launchConfiguration>
